.container {
  position: relative;
  overflow:hidden;
  margin:auto;
 
}
.img-wrapper {
  display: flex;
}
.img-item {
  height: 100%;
}
.dot{
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
 .yellow{
  width: 10px;
  height: 10px;
  background: yellow;
  border-radius: 100%;
  margin-left:20px;
} 
.red{
  width:10px;
  height:10px;
  border-radius: 100%;
  background: red;
  margin-left:20px;
}